# Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
*.iml
.idea/
.vscode/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/ServiceDefinitions.json
ios/Podfile.lock

# Android
android/.gradle/
android/app/build/
android/local.properties

# macOS
macos/Pods/
macos/.symlinks/
macos/Flutter/ephemeral/

# General
*.log
*.pyc
*.swp
.DS_Store
.codesign_cache
